@font-face {
    font-family: "Friz std";
    src: url("Friz-Quadrata-Std-Medium.woff") format("woff");
   }
@font-face {
    font-family: "Friz reg";
    src: url("Friz-Quadrata-Regular.woff") format("woff");
}
body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Friz std';
}
.carte_principale{
    width: 800px;
    background-image: url("Aatrox_0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
    border-radius: 50px;
    text-align: center;
    margin: auto;
}
.carte_principale>section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 5em;
    margin: 0;
}
h4{
    color: rgb(196, 196, 196);
    margin: 0;
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: 700;
}
.titre{
    margin-bottom: 5%;
}
.infos{
    font-weight: bold;
    font-size: 1.3em;
    width: 100%;
    color: #C29860;
    display: flex;
    justify-content: space-around;
}
.role p{
    margin: 0;
}
.stats p{
    margin: 0;
}
.difficult p{
    margin: 0;
}

section section p:nth-child(1){
    color: white;
    margin-bottom: 2%;
    letter-spacing: 2px;
}
.skin_spells{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}
.skins{
    width: 60%;
}
.spells{
    width: 40%;
    justify-content: center;
}
.skins img, .spells img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    background-repeat: no-repeat;
    border: solid white 2px;
    border-radius: 20px;
}
.skins img{
    margin-bottom: 8px;
}
.asset{
    display: flex;
    justify-content: space-evenly;
    padding: 0 5px 0 5px;
}
.skins div, .spells div div{
    display: flex;
}
.spells div p{
    margin-top: 0;
    font-weight: lighter;
    font-size: 1.06em;
}
.spells div div h3, .skins div h3{
    font-weight: 100;
    margin-left: 5px;
    text-align: left;
    display: flex;
    align-items: center;
}
.spells>div{
    display: flex;
    flex-direction: column;
}
.passif{
    margin-top: 2%;
    align-items: center;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    
}
.all{
    width: 90%;
    margin-top: 6%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
h2{
    font-size: 3em;
    font-weight: 100;
    margin: 0;
}
.passif img{
    width: 90px;
    height: 90px;
    border: solid white 2px;
    border-radius: 20px;
}
.passif div div{
    display: flex;
    justify-content: center;
}
.passif p{
    font-size: 1.06em;
    margin-top: 0;
}
.passif div div h3{
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 100;
}
span{
    color: #C29860;
    font-size: 0.8em;
}
.lore{
    width: 90%;
    margin: 2% 0 5% 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    font-weight: 100;
    font-size: 1.06em;
}
.lore p{
    margin: 0;
}