@font-face {
    font-family: "Friz std";
    src: url("Friz-Quadrata-Std-Medium.woff") format("woff");
   }

body{
margin: 0;
padding: 0;
color: white;
font-family: 'Friz std';
}
.main_sec{
    width: 500px;
    height: 170px;
    background-image: url("Aatrox_0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    text-align: center;
    margin: auto;
    margin-top: 150px;
}
.role_resultat{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 0 10px 0 10px;
}
.stat_resultat{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 0 5px 0 5px;
}
.main_sec>section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
section section div p{
    color: #C29860;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.8em;
}
.name_resultat{
    text-align: center;
    padding-top: 55px;
    position: relative;
}
.name_resultat h1{
    position: absolute;
    top: 0;
    left: -19px;
    margin: 0;
    height: 10%;
    font-size: 3.5em;
}
.name_resultat p{
    letter-spacing: 3px;
    font-size: 1.6em;
}
section section div p:first-of-type{
    color: white;
}
.lore_resultat p{
    text-align: center;
    width: 90%;
    margin: 0;
    font-size: 1.1em;
}
.lore_resultat span{
    color: #C29860;
    font-size: 0.8em;
}
.lore_resultat{
    display: flex;
    justify-content: center;
}
