/* Importation de la police Friz */
@font-face {
    font-family: "Friz std";
    src: url("Friz-Quadrata-Std-Medium.woff") format("woff");
   }
@font-face {
    font-family: "Friz reg";
    src: url("Friz-Quadrata-Regular.woff") format("woff");
}

/* Définition des principales couleurs */
:root {
	--text-color : #fafafa; /* Texte presque blanc */
	--main-orange: #c8aa6e;
	--active-orange: #dba55e;
}

* {
	color: var(--text-color) ;
}

body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/background-image.jpg) fixed;
	font: 14pt Friz std, Arial, sans-serif;
	margin: 0;
	padding: 0;
	width: 90%;
	margin: 40px auto;
}

/* Paragraphes "Aucun résultat..." et "Aucune recherche..." */
p.info-vide {
	font-style: italic;
}

/* Partie En-tête */
h1 {
	/* margin-top: 1em; */
	text-align: center;
	font-variant: small-caps;
	font-size: 2.5em;
	color: var(--main-orange);
}

p#explication {
	font-size: 1.2em;
}

/* Conteneur principal */
#conteneur {
	display: flex;
	flex: 1;
	margin: 30px auto;
}

/* Section Recherche (avec résultats) */
#section-recherche {
	margin-top: 0;
	flex: 1 1 auto;
}

#bloc-recherche {
	display: flex;
	margin: 0 auto ;
	min-width: 450px;
	flex-direction: row;
}

#bloc-recherche>input[type=text],
#bloc-recherche>button {
    font-family: Friz std;
	display: block;
	font-size: 1.2em ;
}

#bloc-recherche>input[type=text] {
	color: #2d2d2d; /* Presque noir */
	flex: 1;
	padding: 0.7em;
	border: 0.3em solid var(--main-orange);
}
#nb-resultat{
    color: black;
    width: 58px;
    font-family: Friz std;
    font-size: 1.2em;
}
#bloc-recherche>button {
	padding: 0.8em 0.8em;
	/* Bordure invisible pour que le hover ne bouge pas le bouton */
	border: 1px solid var(--main-orange);

	/* Par défaut, les boutons sont en gris
	 (S'ils sont "clicables", ils passent en vert) */
	background-color: #bebebe;
}

/* Apparences des boutons clicables */
#bloc-recherche>button.btn_clicable {
	background-color: var(--main-orange);
}

#bloc-recherche>button:focus {
	/* Pour éviter un affichage disgracieux
		quand le bouton reste en focus */
	outline: 0 !important;
}

#bloc-recherche>button.btn_clicable:hover {
	cursor: pointer;
	border: 1px solid white;
}

#bloc-recherche>button.btn_clicable:active {
	background-color: var(--active-orange);
}

/* GIF de chargement (caché par défaut) */
#bloc-gif-attente {
	display: none;
	margin: 40px;
	text-align: center;
}

#bloc-resultats p.res::before{
	/* Affichage d'une flèche devant chaque résultat
		(Cf. https://unicode-table.com/fr/21E8/ ) */
	content: "\21E8\00A0";
}

/* Section de la barre de séparation */
#section-separation {
	border-left: 2px dashed var(--main-orange);
	margin: 0 20px;
}

/* Section des recherches favorites */
#section-favoris {
	flex: 0 0 300px;
	margin-top: 0;
	margin-bottom: 20px;
}

#section-favoris h2 {
	margin-top: 0;
}

#section-favoris p {
	margin-bottom: 8px;
}

#liste-favoris li {
	margin-bottom: 8px;
	cursor: pointer;
}

#liste-favoris li span {
	text-decoration: underline;
}

#liste-favoris li span:hover {
	color: var(--main-orange);
}



/*////////////////*/
/* Style Resultat */
/*////////////////*/


#bloc-resultats{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Friz std';
}
.main_sec{
    cursor: pointer;
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 2px var(--main-orange);
    border-radius: 50px;
    text-align: center;
    margin-top: 50px;
}
.role_resultat{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 0 10px 0 10px;
}
.stat_resultat{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 0 5px 0 5px;
}
.main_sec>section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main_sec section div p{
    color: #C29860;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.8em;
}
.name_resultat{
    text-align: center;
    position: relative;
}
.name_resultat h1{
    margin: 20px 0 0 0;
    height: 10%;
    font-size: 3.5em;
    color: white;
}
.name_resultat p{
    letter-spacing: 3px;
    font-size: 1.6em;
}
.main_sec section div p:first-of-type{
    color: white;
}
.lore_resultat p{
    text-align: justify;
    width: 90%;
    height: 45px;
    overflow: hidden;
    margin: 0;
    font-size: 1.1em;
    letter-spacing: 1px;
}
.lore_resultat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#voir_plus{
    color: #C29860;
    width: 90%;
    margin-bottom: 20px;
}




/*/////////////*/
/* Style Carte */
/*/////////////*/

#bloc-resultats{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Friz std';
}
.carte_principale{
    width: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
    border-radius: 50px;
    text-align: center;
    margin: auto;
    margin-top: 150px;
}
button{
    cursor: pointer;
}
#bouton-enlever-carte{
    margin-left: 90%;
    margin-top: 3%;
}
.carte_principale>section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titre h1 {
    font-size: 5em;
    margin: 0;
    color: white;
}
.titre h4{
    color: rgb(196, 196, 196);
    margin: 0;
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: 700;
}
.titre{
    margin-bottom: 5%;
}
.infos{
    font-weight: bold;
    font-size: 1.3em;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.infos div{
    width: 33%;
}
.roles p, .stats p, .difficult p{
    margin: 0;
    color: #C29860;
}

.infos p:nth-child(1){
    color: white;
    margin-bottom: 2%;
    letter-spacing: 2px;
}
.skin_spells{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}
.skins{
    width: 60%;
}
.spells{
    width: 40%;
    justify-content: center;
}
.skins img, .spells img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    background-repeat: no-repeat;
    border: solid white 2px;
    border-radius: 20px;
}
.skins img{
    margin-bottom: 8px;
}
.asset{
    display: flex;
    justify-content: space-evenly;
    padding: 0 5px 0 5px;
}
.skins div, .spells div div{
    display: flex;
}
.spells div p{
    text-align: justify;
    margin-top: 5px;
    font-weight: lighter;
    font-size: 1.06em;
}
.spells div div h3, .skins div h3{
    font-weight: 100;
    margin-left: 5px;
    text-align: left;
    display: flex;
    align-items: center;
}
.spells>div{
    display: flex;
    flex-direction: column;
}
.passif{
    margin-top: 2%;
    align-items: center;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    
}
.all{
    width: 90%;
    margin-top: 6%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
.passif h2, .skin_spells h2{
    font-size: 3em;
    font-weight: 100;
    margin: 0;
}
.passif img{
    width: 90px;
    height: 90px;
    border: solid white 2px;
    border-radius: 20px;
}
.passif div div{
    display: flex;
    justify-content: center;
}
.passif p{
    padding: 0 5px 0 5px;
    text-align: justify;
    font-size: 1.06em;
    margin-top: 5px;
}
.passif div div h3{
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 100;
}
#templateResultat span, #templateCarte span{
    color: #C29860;
    font-size: 0.8em;
}
.lore{
    width: 90%;
    margin: 2% 0 5% 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    font-weight: 100;
    font-size: 1.06em;
}
.lore p{
    text-align: justify;
    padding: 24px;
    margin: 0;
}



/* Media-query pour gérer l'affichage sur petit écran */
@media (max-width: 900px) {
	#conteneur {
		flex-direction: column-reverse;
	}

	#section-separation {
		border-top: 2px dashed rgb(26, 188, 156);
		margin: 0 -10px 40px -10px;
	}

	#section-favoris {
		flex: 0;
	}
}
